* {
    box-sizing: border-box;
}

body {
   margin: 20px 20px 20px 20px;
   border: solid;
}

.header {
    text-align: center;
    height: 85px;
    width: 100%;
    border-bottom: solid;
}

.card {
    border: solid;
    padding: 35px;
    margin: 35px 35px 35px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.card__bookmark {
    position: absolute;
    top: -20px;
    right: 15px;
    height: 45px;
    width: 45px;
}

.card__answerbutton {
    width: 20%;
    flex-wrap: wrap;
}

.footer {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 35px;
   border-top: solid;
   
}

.footer__icon {
    height: 60px;
    width: 60px;
    text-align: center;
    margin: 25px 25px 25px 25px;
}